h1{
    text-align: center;
}
body{
    background-color: gray;
    display: flex; /* Add this line to enable Flexbox on the body */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Set the body height to the full viewport height */
    margin: 0; /* Remove default margin */
}